<div class="text-layout">
  <h1> {{ nombre | titlecase }} </h1>
  <button pButton  class="p-button-danger"
          icon="pi pi-check"
          iconPos="right"
          (click)="mostrarNombre()" label="Cambiar Nombre" >
  </button>



    <p-card [header]="nombre | titlecase"
            [style]="{'width': '25rem', 'margin-bottom': '2em'}"
            class="mt-5" subheader="Esto es Subheader" >
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis,
        culpa ratione quam perferendis esse, cupiditate neque quas!</p>
    </p-card>




</div>
